[Desktop Entry]
Icon=media-floppy-symbolic
Type=Service
ServiceTypes=KPluginInfo
Name=Krondor Combatant Grid Location
X-KDE-PluginInfo-Name=krondor-com_grid_location
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=structure