[Desktop Entry]
Icon=comment
Type=Service
ServiceTypes=KPluginInfo
Name=Krondor Dialog Snippet
Comment=Binary structure for Betrayal at Krondor dialog snippets (DIAL_Zxx.DDX)
X-KDE-PluginInfo-Author=BaKGL
X-KDE-PluginInfo-Name=krondor-dialog
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
