[Desktop Entry]
Icon=media-floppy-symbolic
Type=Service
ServiceTypes=KPluginInfo
Name=Krondor TZZXXYY File
X-KDE-PluginInfo-Name=krondor-encounter
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=structure
