[Desktop Entry]
Icon=media-floppy-symbolic
Type=Service
ServiceTypes=KPluginInfo
Name=Krondor Entity List
X-KDE-PluginInfo-Name=krondor-entitylist
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=structure
